<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Perk Up!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Perk Up!</h1>
    <form action="/update_schedule" method="post">
        <label for="startHour">Start Hour:</label>
        <input type="number" id="startHour" name="startHour" required>

        <label for="endHour">End Hour:</label>
        <input type="number" id="endHour" name="endHour" required>

        <button type="submit">Submit</button>
    </form>

    
    <script src="" async defer></script>
  </body>
</html>